.aboutUs-card {
  margin: 2em 1em;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 315px;
  min-width: 246px;
  background: var(--color-cream);
  border: 1px solid var(--color-golden);
  transition: 0.3s ease;
}

.aboutUs-card:hover {
  background: var(--color-hover);
}

.aboutUs-card_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.aboutUs-card_image img {
  width: 88px;
  object-fit: contain;
}

.aboutUs-card_content {
  margin-top: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 180px;
}

.aboutUs-card_content h1 {
  margin-bottom: 0.5rem;
  font-size: 28px;
}

@media screen and (min-width: 2000px) {
  .aboutUs-card {
    margin: 4em;
  }

  .aboutUs-card_content h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutUs-card {
    margin: 10px 0;
  }

  .aboutUs-card_content h1 {
    font-size: 24px;
  }
}
